@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.nav-position {
    position: fixed;
    top: 20px;
    width: 100%;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.hero-container {
    width: 100%;
    height: 1024px;
}

.image-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.gradient-image {
    background: linear-gradient(#00d0ff00 40%, #00d1ff);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-content {
    position: absolute;
    bottom: 0;
    z-index: 3;
    text-align: center;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
}

.hero-title-img {
    height: 640px;
    width: 220px;
}

.btn-first-color {
    background-color: #ffc73c;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: -23px 22px 41px 13px rgba(255, 199, 60, 0.29);
    -webkit-box-shadow: -23px 22px 41px 13px rgba(255, 199, 60, 0.29);
    -moz-box-shadow: -23px 22px 41px 13px rgba(255, 199, 60, 0.29);
}

.btn-first-color:hover {
    background-color: #ffbb00;
    color: white;
}

swiper-container {
    width: 100%;
    height: 100%;
    padding: 20px;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.393);
    cursor: pointer;
    transform: scale(0.9);
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}

.swiper-slide-active {
    box-shadow: 0 0 32px rgb(255, 255, 255);
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .hero-content {
        height: 100%;
    }

    swiper-container {
        width: 100%;
        height: 75%;
        padding: 20px;
    }
}
